<aside class="aside  typeset  aside--{{ include.align | default: 'left' }}">

  <div class="islet">
    <img class="img--center img--small" src="../assets/profile.jpg" height="512" width="512" />
  </div>

  <section class="section  section--category-index">
    <h4>Blog Topics</h4>
    {% include nav-categories.html %}
</section>
  
  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>
  {% endif %}

</aside>
